**/support-api-env/docker-compose.backend.yml
**/support-api-env/docker-compose.frontend.override.yml
**/support-api-env/docker-compose.frontend.yml
**/support-api-env/database.txt
**/support-api-env/docker-compose.db.yml
**/support-api-env/.*

**/.run.conf
**/__pycache__/*